@import url("https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "tilt neon", sans-serif;
}

body {
  background-image: url("../travel goals/images.jpg");
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

header {
  position: fixed;
  width: 100%;
  left: 0;
  right: 0;
  z-index: 10;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(133, 133, 133, 0.284);
  padding: 10px;
}

.nav-item ul {
  list-style: none;
  display: flex;
}

.nav-item ul li {
  margin: 0 10px;
}

a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.Pe {
  background-color: rgba(156, 151, 151, 0.597);
  position: absolute;
  top: 200px;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px 50px;
  border-radius: 5px;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.page h2,
.page p,
.page button {
  margin-top: 8px;
  font-weight: 600;
  color: aliceblue;
}

.page button {
  padding: 8px 1rem;
  border-radius: 10px;
  border: none;
  background-color: rgb(16, 241, 31);
  color: black;
  cursor: pointer;
}

.Ht {
  padding: 20px 0;
  background-color: rgb(232, 246, 255);
  position: absolute;
  top: 410px;
  text-align: center;
  width: 100%;
}

.htt {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.highlight {
  padding-bottom: 30px;
}

.Ht h2 {
  padding-bottom: 20px;
}

.infoHilgt img {
  border-radius: 10px;
}

footer {
  background-color: black;
  position: relative;
  top: 541px;
  z-index: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin-top: 30px;
}

footer img {
  z-index: 10;
  padding: 0 10px;
}

@media (max-width: 799px) and (min-width: 350px) {
  .Ht {
    padding: 20px 0;
    background-color: rgb(232, 246, 255);
    position: absolute;
    top: 410px;
    text-align: center;
    width: 100%;
  }

  footer {
    background-color: black;
    position: relative;
    top: 541px;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin-top: 30px;
  }

  footer img {
    z-index: 10;
    padding: 0 10px;
  }

  .Pe {
    background-color: rgba(156, 151, 151, 0.597);
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px 50px;
    border-radius: 5px;
  }

  .page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .page h2,
  .page p,
  .page button {
    margin-top: 8px;
    font-weight: 600;
    color: aliceblue;
  }

  .page button {
    padding: 8px 1rem;
    border-radius: 10px;
    border: none;
    background-color: rgb(16, 241, 31);
    color: black;
    cursor: pointer;
  }
}

@media (min-width: 800px){
  .Ht {
    padding: 20px 0;
    background-color: rgb(232, 246, 255);
    position: absolute;
    top: 805px;
    text-align: center;
    width: 100%;
  }

  footer {
    background-color: black;
    position: relative;
    top: 936px;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin-top: 30px;
  }

  footer img {
    z-index: 10;
    padding: 0 10px;
  }

  .Pe {
    background-color: rgba(156, 151, 151, 0.597);
    position: absolute;
    top: 350px;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px 100px;
    border-radius: 5px;
  }

  .page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .page h2,
  .page p,
  .page button {
    margin-top: 8px;
    font-weight: 600;
    color: aliceblue;
  }

  .page button {
    margin-top: 20px;
    padding: 10px 1rem;
    border-radius: 10px;
    border: none;
    background-color: rgb(16, 241, 31);
    color: black;
    cursor: pointer;
  }
}
